# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Node.js
node_modules
npm-debug.log*
yarn-error.log

# Editor / OS specific
.vscode
.idea
*.swp
*~
.DS_Store

# Local environment files
.env

# Local browser cache (if any)
ms-playwright/

# Build artifacts
build/
dist/